@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais customizados */
body {
    background-color: #F3F4F6;
    font-family: 'Inter', sans-serif;
    overflow: hidden; /* Electron lida com scroll */
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #e5e7eb;
}
::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}